---
import Logo from "./Logo.astro";
import Menu from "./Menu.astro";
---

<div class="bg-red-100 m-0 p-10 h-screen bg-url[./home-01.jpg]">
  <div
    class="container mx-auto py-4 px-6 rounded-xl bg-white flex items-center justify-between"
  >
    <Logo class="flex w-40" />
    <Menu />
  </div>
</div>
