---
interface Props {
  color?: string;
  class?: string;
}

const { class: classes, color } = Astro.props;
---

<div class={classes}>
  <svg
    version="1.1"
    id="svg1"
    width="100%"
    height="100%"
    viewBox="0 0 1113.1932 362.52107"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs id="defs1"></defs>
    <g id="g1" transform="translate(-406.80679,-501.33333)">
      <path
        style={"fill:" + color || "#000"}
        d="m 1123.768,861.71713 c -1.9609,-1.21653 -4.2109,-3.6288 -5,-5.3606 -1.0001,-2.19503 -1.4347,-54.8604 -1.4347,-173.88025 0,-156.89855 0.1799,-171.03607 2.2204,-174.4903 2.3712,-4.01408 6.8543,-6.65268 11.3033,-6.65268 3.9665,0 10.0227,3.94377 11.6961,7.61644 1.0163,2.23055 1.4469,53.98862 1.4469,173.90723 0,156.89855 -0.1799,171.03608 -2.2204,174.49031 -3.8849,6.57675 -11.4829,8.42011 -18.0116,4.36985 z M 478,812.1466 c -2.93333,-1.36238 -6.89908,-4.20271 -8.81278,-6.31185 -1.91369,-2.10914 -16.53702,-29.0348 -32.49629,-59.83479 -30.71543,-59.2781 -32.12274,-62.87522 -28.45159,-72.72292 3.74135,-10.03604 57.64564,-110.17308 61.50706,-114.26058 7.80501,-8.26198 9.62592,-8.49465 63.14093,-8.06779 l 48.22065,0.38463 5.77935,4.01783 c 16.6416,11.56935 15.1539,36.08708 -2.76371,45.54647 -5.7417,3.03126 -6.7219,3.10236 -42.76886,3.10236 h -36.89248 l -19.89781,37.62026 c -10.94379,20.69115 -20.09087,38.3863 -20.32683,39.32257 -0.23596,0.93628 8.76404,19.40649 20,41.04493 l 20.42903,39.34262 69.66666,10e-4 C 612.65,761.33262 644,760.96249 644,760.50929 c 0,-0.4532 -8.18274,-16.5032 -18.18386,-35.66666 -19.32586,-37.03088 -21.07277,-42.15878 -17.5768,-51.59501 3.67984,-9.93253 57.62559,-110.1147 61.5108,-114.23116 7.82109,-8.28661 9.65903,-8.52173 63.16423,-8.08055 l 48.19421,0.39739 5.67668,4 c 15.65717,11.03263 15.65753,32.96623 7.2e-4,44 l -5.67596,4 -38.36288,0.40726 -38.36289,0.40726 -19.85879,37.54633 c -10.92234,20.65048 -20.05073,38.30653 -20.28532,39.23565 -0.23459,0.92913 8.75303,19.40001 19.97248,41.0464 l 20.39901,39.35709 H 754.30581 804 l 0.0293,-53 c 0.0271,-49.0065 0.21771,-53.40186 2.52994,-58.33333 3.48076,-7.4237 92.26832,-95.81198 99.06462,-98.61914 6.56776,-2.71276 13.84128,-2.54373 20.37616,0.47352 3.56575,1.64636 20.17042,17.43445 50.10126,47.63738 36.07742,36.40545 45.21082,46.33964 47.04962,51.17491 2.0674,5.4364 2.2457,12.59597 1.8987,76.21991 l -0.3829,70.21992 -4,5.66133 c -5.5032,7.78883 -12.5575,11.23839 -22.91984,11.20779 -6.98945,-0.0207 -9.11492,-0.63312 -13.88126,-4 -9.50086,-6.71131 -11.13075,-11.52023 -11.62831,-34.30896 l -0.42939,-19.66667 h -57.11761 -57.11761 l -0.45299,20.55546 c -0.44898,20.37294 -0.48852,20.60571 -4.453,26.21459 -2.2,3.11252 -6.4,6.91256 -9.33334,8.44454 -5.32218,2.77959 -5.70405,2.78606 -182.66666,3.09727 C 490.29875,814.61141 483.12385,814.52636 478,812.1466 Z M 972,687.16155 v -15.50508 l -27.48357,-28.49492 c -15.11597,-15.67221 -28.16085,-28.49492 -28.98864,-28.49492 -0.82778,0 -14.26017,12.74477 -29.84976,28.3217 l -28.3447,28.3217 v 15.6783 15.67829 H 914.66667 972 Z m 265.3333,58.17174 V 694.66663 H 1250.6667 1264 v 39.33333 39.33333 h 20.6667 20.6666 v 11.33333 11.33333 h -34 -34 z M 1332,756.66662 v -39.33333 h -15.3333 -15.3334 v -11.33333 -11.33333 h 44 44 v 11.33333 11.33333 H 1374 1358.6667 v 39.33333 39.33333 H 1345.3333 1332 Z m 68,-11.49137 v -50.82469 l 25.6667,0.61704 c 31.5235,0.75784 37.3867,2.45376 49.1493,14.21638 10.0394,10.03945 13.5008,19.05009 13.6302,35.48264 0.1148,14.57974 -2.6631,24.26177 -9.591,33.42808 -10.6632,14.10844 -22.496,17.90525 -55.802,17.90525 H 1400 Z m 51.0431,24.5142 c 7.3936,-4.31809 9.6236,-9.96192 9.6236,-24.35616 0,-10.84362 -0.4348,-13.36586 -3.0211,-17.52472 -4.1366,-6.65203 -9.9961,-9.14195 -21.5138,-9.14195 h -9.4651 v 26.44445 c 0,14.54444 0.45,26.9107 1,27.48057 1.7467,1.80985 18.9694,-0.32835 23.3764,-2.90219 z M 1237.3333,618.66663 v -50.66666 h 23.2677 c 26.7665,0 34.3033,1.24456 43.0874,7.11513 9.4977,6.34754 14.1425,15.84215 14.1147,28.85239 -0.031,14.7238 -5.6579,24.39394 -17.968,30.88166 -4.7078,2.4811 -8.6686,3.2113 -20.5018,3.77967 l -14.6666,0.70448 -0.377,14.99999 -0.377,15 h -13.2897 -13.2897 z m 48.3334,-5.3387 c 5.2069,-5.73246 5.1124,-13.42067 -0.2308,-18.76386 -3.5176,-3.51757 -4.7521,-3.89744 -12.6667,-3.89744 H 1264 v 13.11111 c 0,7.21111 0.45,13.57426 1,14.14033 0.55,0.56607 4.6,0.67313 9,0.2379 6.676,-0.66036 8.6069,-1.45943 11.6667,-4.82804 z M 1356,629.99996 v -39.33333 h -15.3333 -15.3334 V 579.3333 567.99997 h 44 44 v 11.33333 11.33333 H 1398 1382.6667 v 39.33333 39.33333 H 1369.3333 1356 Z m 100,22.82725 v -16.50609 l -18,-33.60548 c -9.9,-18.48302 -18,-33.85528 -18,-34.16058 0,-0.3053 6.75,-0.52821 15,-0.49534 l 15,0.0598 10.1344,20.94025 10.1344,20.94024 10.1008,-21 10.1009,-20.99999 h 14.7648 c 8.1206,0 14.7647,0.41011 14.7647,0.91135 0,0.50125 -8.1,16.0456 -18,34.54301 l -18,33.63164 v 16.12366 16.12366 h -14 -14 z"
        id="path1"></path>
    </g>
  </svg>
</div>
